/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .techStackOne {
        width: 18%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .techStackOne {
        width: 18%;
    }
}

/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 900px) {
    .techStackOne {
        width: 7%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .techStackOne {
        width: 8%;
    }
}

@keyframes rotateAnimation {
    50% {rotate: -30deg;}
    100% {rotate: 30deg;}
}

@keyframes bounceAnimation {
    50% {scale: 1.1}
    100% {scale: 1}
}

@keyframes translateAnimation {
    100% {
        transform: translate(-200px, 100px) rotate(360deg);
    }
}