body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layoutMarginX{
  margin-left: 100px;
  margin-right: 100px;
}

@media only screen and (max-width: 900px){
  .layoutMarginX{
    margin-left: 30px;
    margin-right: 30px;
  }
}

.onMouseOver:hover{
  transform: scale(1.1);
}