body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.layoutMarginX{
  margin-left: 100px;
  margin-right: 100px;
}

@media only screen and (max-width: 900px){
  .layoutMarginX{
    margin-left: 30px;
    margin-right: 30px;
  }
}

.onMouseOver:hover{
  transform: scale(1.1);
}